.StickyCTA {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(calc(100% - 50px));
  background-color: $color_2;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px 0 0 8px;
  text-decoration: none;
  z-index: 1000;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;

  .text {
    font-weight: 700;
    font-size: 16px;
    margin-right: 12px;
    white-space: nowrap;

    transition: opacity 0.3s ease;

    @include respond-above(md) {
      display: none;
    }
  }

  .icon {
    font-size: 24px;
    animation: pulse 2s infinite;
    // color: $color_1;
    // transform: rotate(10deg);
  }

  &:hover {
    transform: translateY(-50%) translateX(0);

    .text {
      display: block;
      opacity: 1;
    }

    .icon {
      animation: none;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
}

// Mobile specific styles - put at bottom right
@include respond-below(md) {
  .StickyCTA {
    top: auto;
    bottom: 20px;
    right: 20px;
    transform: none;
    border-radius: 30px;
    padding: 10px 20px;

    .text {
      opacity: 1;
      margin-right: 8px;
      font-size: 14px;
    }

    .icon {
      font-size: 20px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
