$color_1: #03352c;
$color_2: #fad459;

$color_1: #004d54;
$color_2: #ec6e0c;

$color_primary_1: #e9021e;

$color_b1: #0b0b0b;
$color_b2: #121212;
$color_b3: #222222;

$color_text_grey: #ffffffa6;
$color_text_grey2: #cecece;
